<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/products">Petals & Bees Shop</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" -->
    <!-- aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div> -->

      <div class="ml-auto" style="display: flex;">
        <div>
          <!-- <a class="nav-link" href="/favourites">My Favourites</a>
            <a class="nav-link" href="/all_products">All Products</a>
            <a class="nav-link" href="/add_product">Add New Product</a> -->
        </div>
        <ul>
          <% if (user && user.isAdmin) { %>
            <li><a href="/all_products">All Products</a></li>
            <li><a href="/add_product">Add New Product</a></li>
          <% } %>

          <% if (user) { %>
            <li><a href="/favourites">My Favourites</a></li>
            <li>
              <form id="logout-form" class="login-form" method="POST" action="/logout">
                <label>Welcome back, <%= user.name %>!</label>
                <button type="submit" class="btn btn-secondary">Logout</button>
              </form>
            </li>
          <% } else { %>
            <li>
              <form id="login-form" class="login-form">
                <a href="/login">Login</a>
              </form>
            </li>
          <% } %>
        </ul>

      </div>
    </div>
  </nav>
</header>
