<!-- <!DOCTYPE html>
<html lang="en">
</html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online flower shop</title> -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/nav.css"> -->
  <!-- <link rel="stylesheet" href="/styles/main.css"> -->


<!-- </head> -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/index">Petals & Bees Shop</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="ml-auto" style="display: flex; justify-content: flex-end;">

        <ul class = 'router'>
          <% if (user && user.isAdmin) { %>
            <li><a class ='anchor' href="/all_products">All Products</a></li>
            <li><a class ='anchor'href="/add_product">Add New Product</a></li>

          <% } %>

          <% if (user) { %>
            <li><a class ='anchor'href="/favourites">My Favourites</a></li>
            <li><a class ='anchor'href="/contact">Contact Us</a></li
            <li>
              <form id="logout-form" class="login-form" method="POST" action="/logout">
                <label>Welcome back, <%= user.name %>!</label>
                <button type="submit" class="btn btn-secondary">Logout</button>
              </form>
            </li>
          <% } else { %>
            <li>
              <form id="login-form" class="login-form">
                <a href="/login">Login</a>
              </form>
            </li>
          <% } %>
        </ul>

      </div>
    </div>
  </nav>
</header>
