<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/products">Petals & Bees Shop</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" -->
        <!-- aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div> -->

        <div class="ml-auto" style="display: flex;">
          <div>
            <a class="nav-link" href="/favourites">My Favourites</a>
          </div>

          <% if(user){ %>
            <form id="login-form" class="login-form" method="POST" action="/logout">
              <label>Welcome back, <%= user.name %> !</label>
               <button id="login-form_" type="submit" class="btn btn-secondary" >Logout</button>
            </form>
            <% } else{ %>
              <form id="login-form" class="login-form">
                <a id="login-form_" href="/login">Login</a>
              </form>
          <% } %>

          <!-- <form id="myform" method="post" action="/logout"></form>
          <a onclick="event.preventDefault();document.getElementById('myform').submit();" href="/logout">Logout</a> -->
        </div>
      </div>
    </nav>
  </header>



