<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favourite</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/favourites.js"></script>

  <title>Favourites</title>


</head>

<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em;">
    <h3>Your Favourites</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Product</th>
          <th scope="col">Delete from Favourites</th>
        </tr>
      </thead>


      <tbody>


        <% for(let product of products) { %>
          <tr>
            <td> <img width="120" height="120" src="<%= product.image_url %>"> </td>
            <td>
              <%= product.title %>
            </td>

            <td>
              <form method="POST" action="/favourites/delete">
                <button type="submit" class="btn btn-outline-danger" name="deleteButton">
                  Delete from list
                </button>
              </form>
            </td>
          </tr>
          <% } %>


      </tbody>


    </table>


  </main>
</body>

</html>
