<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/15a1349dfc.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/products.js"></script>
</head>

<%- include('partials/_header') %>
<body>

  <main class="container">
    <section class="new_search">
      <form class="search-wrapper" id="slide" action="/api/products/filter" method="get">
        <label for="search">Search Items</label>
        <input type="number" id="search" data-search>

        <button type="submit">submit</button>
      </form>
    </section>
    <section class="search-results" id="searchResults">
      <div class="item">
        <% for (let product of products) { %>
          <div class="item">
            <img class="image" src="<%= product.image_url %>" alt="Product Image" %>
            <a><%= product.title %></a>
            <a>$<%= product.price %></a>
            <i id="heartImage" class="fa-regular fa-heart"></i>
          </div>
        <% } %>
      </div>
    </section>
  </main>



</body>

</html>
