// Define variables for colors and sizes
$nav-background-color: pink;
$nav-color: #ffffff;
$nav-height: 120px;

// Style the navigation bar
header nav {
  display: flex;
  width: 100%;
  background-color: $nav-background-color;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;

  // Style the brand/logo
  .navbar-brand {
    font-size: 24px;
    text-decoration: none;
  }

  // Style the navigation links
  .router {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // Style the login form
    .login-form {
      a {
        text-decoration: none;
        margin-right: 20px;
      }
    }
  }
}
